.button {
    min-width: 270px;
    padding: 14px 10px 15px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: 24px;
    color: #ffffff;
    background-color: $color-main;
    border: 1px solid $color-main;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    &:hover {
        color: #000000;
        background-color: transparent;
    }
}

.button--transparent {
    color: #000000;
    background-color: transparent;
    &:hover {
        color: #ffffff;
        background-color: $color-main;
    }
}

.button--size-big {
    min-width: 360px;
    padding: 20px 10px 20px;
    font-size: 20px;
    line-height: 28px;
}

.button--light {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    &:hover {
        color: #ffffff;
    }
}

.button--text-light {
    color: #ffffff;
}


@include media($size-tablet) {
    .button {
        min-width: 200px;
    }
}