.features {
    
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        display: flex;
        align-items: center;
        max-width: 33.3333%;
        &:not(:last-child) {
            margin-right: 45px;
        }
    }
    &__num {
        display: block;
        font-size: 80px;
    }
    &__text {
        display: block;
        padding-left: 20px;
        padding-top: 20px;
        line-height: 28px;
    }
}



@include media($size-tablet){
    .features {
        &__num {
            font-size: 60px;
        }
        &__text {
            padding-top: 0;
        }
    }
}