.logo {
    display: flex;
    align-items: center;
    &__icon {
        min-width: 141px;
        height: 110px;
        margin-right: 30px;
        background-image: url('../image/logo.svg');
    }
}
.logo--light .logo__icon {
    background-image: url('../image/logo-light.svg');
}


@include media($size-tablet) {
    .logo {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}