.apartments-filter {

    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        flex-grow: 1;
        border: 2px solid $color-border;
        border-right-width: 0;
        &:last-child {
            border-right-width: 2px; 
        }
    }
    &__button {
        width: 100%;
        padding: 20px;
        font-family: inherit;
        font-size: inherit;
        border: 0;
        background-color: transparent;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
        cursor: pointer;
        &:hover {
            background-color: $color-border;
        }
    }
    &__button--active {
        color: #ffffff;
        background-color: $color-main;
        &:hover {
            background-color: darken($color: $color-main, $amount: 5%);
        }
    }
}


.apartments {
    overflow: hidden;
    &__inner {
        padding: 30px 0 60px;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__subtitle {
        display: block;
        margin-bottom: 45px;
    }
    &__filter {
        margin-bottom: 30px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &__item {
        margin: 15px;
        @include flex-columns(6, 15px);
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.7s ease-in;
        &:nth-child(odd) {
            transform: translateX(-70%);
        }
        &:nth-child(even) {
            transform: translateX(70%);
        }
    }
    &__item--visible {
        opacity: 1;
        &:nth-child(odd) {
            transform: translateX(0);
        }
        &:nth-child(even) {
            transform: translateX(0);
        }
    }
}


.apartments-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
    }
    &__text {
        flex-grow: 1;
        padding: 25px 30px;
    }
    &__title {
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 22px;
    }
    &__subtitle {
        display: block;
        margin-bottom: 20px;
    }
    &__specs {
        width: 100%;
    }
    &__price {
        font-size: 33px;
    }
    &__button {
        width: 100%;
        padding: 20px;
        font-family: inherit;
        font-size: 18px;
        font-weight: bold;
        background-color: $color-border;
        border: 0;
        cursor: pointer;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
        &:hover {
            color: #ffffff;
            background-color: $color-main;
        }
    }
}



@include media($size-tablet) {
    .apartments-filter {
        &__button {
            width: 100%;
            padding: 15px 10px;

        }
    }
    

    .apartments {
        overflow: hidden;
        &__inner {
            padding: 20px 0 20px;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__filter {
            margin-bottom: 20px;
        }
    }
    
    
    .apartments-item {

        &__text {
            flex-grow: 1;
            padding: 15px 20px;
        }
        &__subtitle {
            margin-bottom: 10px;
        }
        &__price {
            font-size: 26px;
        }
    }
}