.leader {
    background-color: $color-background-light;
    &__inner {
        display: flex;
        padding: 50px 0 60px;
        background-image: url('../image/leader/leader.png');
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    &__main {
        @include flex-columns(7);
    }
    &__title {
        margin-bottom: 25px;
        line-height: 48px;
        text-align: left;
    }
    &__name {
        display: block;
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: bold;
    }
    &__desc {
        margin-bottom: 35px;
        line-height: 1.6;
    }
    &__desc p:not(:last-child) {
        margin-bottom: 20px;
    }
    &__button {
        font-size: 20px;
    }
}


@include media($size-tablet) {
    .leader {
        &__inner {
            display: flex;
            padding: 20px 0;
            background-size: contain;
            background-position-y: 20px;
        }
        &__main {
            flex-basis: auto;
            max-width: 100%;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__name {
            margin-bottom: 15px;
        }
        &__desc {
            margin-bottom: 15px;
            padding: 10px;
            background-color: rgba($color: #ffffff, $alpha: 0.8);
        }
        &__desc p:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}