.main-nav {

    &__toggle {
        width: 40px;
        height: 30px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__toggle-line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: $color-main;
        border-radius: 5px;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in, width 0.2s ease-in;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:first-child {
            width: 40px;
        }
        &:last-child {
            width: 20px;
        }
    }
    &__toggle--active &__toggle-line {
        opacity: 0;

        &:first-child {
            width: 35px;
            transform: translateY(13px) translateX(2.5px) rotate(45deg);
            opacity: 1;
        }
        &:last-child {
            width: 35px;
            transform: translateY(-13px) translateX(2.5px) rotate(-45deg);
            opacity: 1;
        }
    }
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100vh;
        padding-top: 20px;
        background-color: rgba($color: #000000, $alpha: 0.8);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in, visibility 0.3s;
        visibility: hidden;
    }
    &__wrapper--active {
        transform: translateX(0);
        visibility: visible;
        transition: transform 0.3s ease-in, visibility 0s 0s;
    }
    &__list {
        flex-grow: 1;
        list-style-type: none;
    }
    &__link {
        width: 100%;
        display: block;
        padding: 15px 10px 15px 25px;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.2s ease-in, background-color 0.2s ease-in;
        &:hover {
            color: rgba($color: #000000, $alpha: 0.9);
            background-color: $color-link-hover;
        }
    }
    &__link--active {
        background-color: $color-link-hover;
        box-shadow: inset 0 0 7px rgba($color: #000000, $alpha: 0.5);
    }
    &__call {
        padding: 10px 20px;
    }
}