.questions {

    &__inner {
        padding: 50px 0 30px;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__subtitle {
        margin-bottom: 55px;
    }
}


.questions-block {
    display: flex;
    border: 3px solid $color-border;
    &__main {
        padding: 35px 40px 25px;
    }
    &__title {
        display: block;
        margin-bottom: 35px;
        font-size: 22px;
        font-weight: 900;
        line-height: 33px;
    }
    &__slider {
        margin-bottom: 30px;
        overflow: hidden;
    }
    &__track {
        transition: transform 0.5s ease-in;
        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }
    &__slide {
        float: left;
    }
    &__row {
        display: flex;
        padding-bottom: 25px;
        border-bottom: 2px solid #f1f1f1;
    }
    &__col {
        text-align: center;
        &:first-child {
            margin-right: 15px;
        }
    }
    &__image {
        position: relative;
        margin-bottom: 25px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            background-image: url('../icons/draw-check-mark.svg');
            background-repeat: no-repeat;
            background-size: 30%;
            background-position: center;
            transition: opacity 0.3s ease-in;
            opacity: 0;
            pointer-events: none;
        }
    }
    &__image--checked {
        &::before {
            opacity: 1;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
    &__next {
        position: relative;
        display: block;
        padding-right: 30px;
        color: $color-main;
        font-family: inherit;
        font-size: inherit;
        line-height: 22px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: -5px;
            width: 22px;
            height: 16px;
            background-image: url('../icons/arrow.svg');
            transform: translateY(-50%);
        }
    }
    &__next--disabled {
        opacity: 0.5;
    }
    &__output,
    &__text {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
    }
    &__side {
        flex-shrink: 0;
        max-width: 370px;
        padding: 30px 40px;
        border-left: 3px solid $color-border;
    }
}


.questions-features {

    &__list {
        list-style-type: none;
    }
    &__item {
        position: relative;
        padding-left: 65px;
        line-height: 26px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 35px;
            height: 35px;
            background-image: url('../icons/check.svg');
            background-size: cover;
        }
    }
}



@include media($size-tablet) {
    .questions {

        &__inner {
            padding: 20px 0;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            margin-bottom: 30px;
        }
    }
    
    
    .questions-block {
        
        &__main {
            padding: 20px;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__row {
            margin-bottom: 15px;
        }
        &__image {
            margin-bottom: 15px;
        }    
        &__side {
            padding: 20px;
        }
        &__footer {
            align-items: center;
        }
    }
    
    
    .questions-features {
    
        &__item {
            padding-left: 40px;
            line-height: 20px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &::before {
                width: 25px;
                height: 25px;
            }
        }
    }
}


@include media($size-mobile) {
    .questions {
        &__inner {
            padding: 10px 0;
        }
    }
    .questions-block {
        display: block;
        &__title {
            margin-bottom: 10px;
            font-size: 18px;
        }
        &__main {
            padding: 10px;
        }
        &__side {
            padding: 10px;
            border-left: 0;
            border-top: 3px solid $color-border;
        }
        &__row {
            margin: 0 -5px 10px;
        }
        &__col {
            margin: 0 5px;
        }
    }
    .questions-features {
        font-size: 14px;
    }
}