:root {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, form, figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  position: relative;
  width: 100%;
  font-family: 'Geometria', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

.page--pixel::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../template.jpg");
  background-size: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0.3;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.pixel {
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border: 2px dashed #f90;
  border-radius: 5px;
}

.all-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}

.section-title {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: -0.3px;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.1px;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.woff2") format("woff2"), url("../fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Heavy.woff2") format("woff2"), url("../fonts/Geometria-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.button {
  min-width: 270px;
  padding: 14px 0 15px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  background-color: #2a94e2;
  border: 1px solid #2a94e2;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.button:hover {
  color: #000000;
  background-color: transparent;
}

.button--transparent {
  color: #000000;
  background-color: transparent;
}

.button--transparent:hover {
  color: #ffffff;
  background-color: #2a94e2;
}

.button--size-big {
  min-width: 360px;
  padding: 20px 0 20px;
  font-size: 20px;
  line-height: 28px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  min-width: 141px;
  height: 110px;
  margin-right: 30px;
  background-image: url("../image/hero/logo.svg");
}

.call {
  display: inline-block;
}

.call__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
}

.call__link {
  text-decoration: none;
  color: #000000;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 33.3333%;
}

.features__item:not(:last-child) {
  margin-right: 45px;
}

.features__num {
  display: block;
  font-size: 80px;
}

.features__text {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 28px;
}

.hero {
  position: relative;
  padding: 30px 0 70px;
}

.hero__background {
  background-image: url("../image/hero/hero-background.jpg");
  background-size: cover;
}

.hero__content {
  margin-top: -5px;
  padding-left: 5px;
}

.hero__features {
  margin-bottom: 36px;
}

.hero__title {
  max-width: 700px;
  margin-bottom: 18px;
  font-size: 50px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.hero__subtitle {
  display: block;
  max-width: 550px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.1px;
}

.hero__offer {
  max-width: 500px;
  margin-bottom: 35px;
  padding: 12px 0 15px 87px;
  line-height: 25px;
  letter-spacing: -0.1px;
  background-image: url("../icons/champagne.svg");
  background-repeat: no-repeat;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header__col {
  width: 33.3333%;
}

.main-header__logo {
  padding-left: 10px;
}

.main-header__call {
  margin-top: 15px;
  text-align: right;
}

.questions__inner {
  padding: 50px 0 30px;
}

.questions__title {
  margin-bottom: 25px;
}

.questions__subtitle {
  margin-bottom: 55px;
}

.questions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #f6f6f6;
}

.questions-block__main {
  padding: 35px 40px 25px;
}

.questions-block__title {
  display: block;
  margin-bottom: 35px;
  font-size: 22px;
  font-weight: 900;
  line-height: 33px;
}

.questions-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  margin: 0 -15px 30px;
  border-bottom: 2px solid #f1f1f1;
}

.questions-block__col {
  margin: 0 15px;
  text-align: center;
}

.questions-block__question {
  margin-bottom: 25px;
}

.questions-block__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions-block__next {
  position: relative;
  display: block;
  padding-right: 30px;
  color: #2a94e2;
  line-height: 22px;
  text-decoration: none;
}

.questions-block__next::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -5px;
  width: 22px;
  height: 16px;
  background-image: url("../icons/arrow.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.questions-block__side {
  max-width: 370px;
  padding: 30px 40px;
  border-left: 3px solid #f6f6f6;
}

.questions-features__list {
  list-style-type: none;
}

.questions-features__item {
  position: relative;
  padding-left: 65px;
  line-height: 26px;
}

.questions-features__item:not(:last-child) {
  margin-bottom: 30px;
}

.questions-features__item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 35px;
  height: 35px;
  background: url("../icons/check.svg");
}

.services__inner {
  padding: 20px 0;
}

.services__title {
  margin-bottom: 45px;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.services__item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.services__item:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.services__item:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  overflow: hidden;
}

.service:hover .service__text {
  max-height: 100%;
}

.service__title {
  margin-bottom: 25px;
  font-size: 22px;
}

.service__text {
  max-height: 0%;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

.service__desc {
  margin-bottom: 25px;
  line-height: 33px;
}

.service__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__button {
  width: 100%;
  max-width: 335px;
}

.apartments__inner {
  padding: 30px 0;
}

.apartments__title {
  margin-bottom: 25px;
}

.apartments__subtitle {
  display: block;
  margin-bottom: 45px;
}

.apartments__filter {
  margin-bottom: 30px;
}

.apartments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.apartments__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (15px * 2));
      flex-basis: calc((100% / 12 * 6) - (15px * 2));
  max-width: calc((100% / 12 * 6) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
}

.apartments-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.apartments-filter__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 2px solid #f6f6f6;
}

.apartments-filter__item:not(:last-child) {
  border-right: 0;
}

.apartments-filter__button {
  width: 100%;
  padding: 20px;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}

.apartments-filter__button:hover {
  background-color: #f6f6f6;
}

.apartments-filter__button--active {
  color: #ffffff;
  background-color: #2a94e2;
}

.apartments-filter__button--active:hover {
  background-color: #1d87d5;
}

.agency__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.agency__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (15px * 2));
      flex-basis: calc((100% / 12 * 6) - (15px * 2));
  max-width: calc((100% / 12 * 6) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
}

.agency-item {
  height: 100%;
  padding: 30px 50px;
  border: 1px solid #2A94E2;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */