:root {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, form, figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  position: relative;
  width: 100%;
  font-family: 'Geometria', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

.all-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}

.section-title {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: -0.3px;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.1px;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.woff2") format("woff2"), url("../fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Heavy.woff2") format("woff2"), url("../fonts/Geometria-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.button {
  min-width: 270px;
  padding: 14px 0 15px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  background-color: #2a94e2;
  border: 1px solid #2a94e2;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.button:hover {
  color: #000000;
  background-color: transparent;
}

.button--transparent {
  color: #000000;
  background-color: transparent;
}

.button--transparent:hover {
  color: #ffffff;
  background-color: #2a94e2;
}

.button--size-big {
  min-width: 360px;
  padding: 20px 0 20px;
  font-size: 20px;
  line-height: 28px;
}

.button--light {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.button--light:hover {
  color: #ffffff;
}

.button--text-light {
  color: #ffffff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  min-width: 141px;
  height: 110px;
  margin-right: 30px;
  background-image: url("../image/logo.svg");
}

.logo--light .logo__icon {
  background-image: url("../image/logo-light.svg");
}

.call {
  display: inline-block;
  color: #000000;
}

.call__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  color: inherit;
}

.call__mail {
  display: block;
  padding-right: 20px;
  margin-bottom: 25px;
  font-size: 22px;
}

.call__link {
  text-decoration: none;
  color: inherit;
}

.call--light {
  color: #ffffff;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 33.3333%;
}

.features__item:not(:last-child) {
  margin-right: 45px;
}

.features__num {
  display: block;
  font-size: 80px;
}

.features__text {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 28px;
}

.hero {
  position: relative;
  padding: 30px 0 70px;
}

.hero__background {
  background-image: url("../image/hero/hero-background.jpg");
  background-size: cover;
}

.hero__content {
  margin-top: -5px;
  padding-left: 5px;
}

.hero__features {
  margin-bottom: 36px;
}

.hero__title {
  max-width: 700px;
  margin-bottom: 18px;
  font-size: 50px;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.hero__subtitle {
  display: block;
  max-width: 550px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.1px;
}

.hero__offer {
  max-width: 500px;
  margin-bottom: 35px;
  padding: 12px 0 15px 87px;
  line-height: 25px;
  letter-spacing: -0.1px;
  background-image: url("../icons/champagne.svg");
  background-repeat: no-repeat;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__col {
  width: 33.3333%;
}

.main-header__logo {
  padding-left: 10px;
}

.main-header__call {
  margin-top: 15px;
  text-align: right;
}

.main-nav__toggle {
  width: 40px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggle-line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2a94e2;
  border-radius: 5px;
  -webkit-transition: opacity 0.2s ease-in, width 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, width 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in, width 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in, width 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.main-nav__toggle-line:not(:last-child) {
  margin-bottom: 10px;
}

.main-nav__toggle-line:first-child {
  width: 40px;
}

.main-nav__toggle-line:last-child {
  width: 20px;
}

.main-nav__toggle--active .main-nav__toggle-line {
  opacity: 0;
}

.main-nav__toggle--active .main-nav__toggle-line:first-child {
  width: 35px;
  -webkit-transform: translateY(13px) translateX(2.5px) rotate(45deg);
          transform: translateY(13px) translateX(2.5px) rotate(45deg);
  opacity: 1;
}

.main-nav__toggle--active .main-nav__toggle-line:last-child {
  width: 35px;
  -webkit-transform: translateY(-13px) translateX(2.5px) rotate(-45deg);
          transform: translateY(-13px) translateX(2.5px) rotate(-45deg);
  opacity: 1;
}

.main-nav__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 100vh;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: visibility 0.3s, -webkit-transform 0.3s ease-in;
  transition: visibility 0.3s, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, visibility 0.3s;
  transition: transform 0.3s ease-in, visibility 0.3s, -webkit-transform 0.3s ease-in;
  visibility: hidden;
}

.main-nav__wrapper--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  -webkit-transition: visibility 0s 0s, -webkit-transform 0.3s ease-in;
  transition: visibility 0s 0s, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, visibility 0s 0s;
  transition: transform 0.3s ease-in, visibility 0s 0s, -webkit-transform 0.3s ease-in;
}

.main-nav__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
}

.main-nav__link {
  width: 100%;
  display: block;
  padding: 15px 10px 15px 25px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.main-nav__link:hover {
  color: rgba(0, 0, 0, 0.9);
  background-color: #aaaaaa;
}

.main-nav__link--active {
  background-color: #aaaaaa;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
}

.main-nav__call {
  padding: 10px 20px;
}

.questions__inner {
  padding: 50px 0 30px;
}

.questions__title {
  margin-bottom: 25px;
}

.questions__subtitle {
  margin-bottom: 55px;
}

.questions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #f6f6f6;
}

.questions-block__main {
  padding: 35px 40px 25px;
}

.questions-block__title {
  display: block;
  margin-bottom: 35px;
  font-size: 22px;
  font-weight: 900;
  line-height: 33px;
}

.questions-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  margin: 0 -15px 30px;
  border-bottom: 2px solid #f1f1f1;
}

.questions-block__col {
  margin: 0 15px;
  text-align: center;
}

.questions-block__question {
  margin-bottom: 25px;
}

.questions-block__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions-block__next {
  position: relative;
  display: block;
  padding-right: 30px;
  color: #2a94e2;
  line-height: 22px;
  text-decoration: none;
}

.questions-block__next::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -5px;
  width: 22px;
  height: 16px;
  background-image: url("../icons/arrow.svg");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.questions-block__side {
  max-width: 370px;
  padding: 30px 40px;
  border-left: 3px solid #f6f6f6;
}

.questions-features__list {
  list-style-type: none;
}

.questions-features__item {
  position: relative;
  padding-left: 65px;
  line-height: 26px;
}

.questions-features__item:not(:last-child) {
  margin-bottom: 30px;
}

.questions-features__item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 35px;
  height: 35px;
  background: url("../icons/check.svg");
}

.services__inner {
  padding: 20px 0;
}

.services__title {
  margin-bottom: 45px;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.services__item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.services__item:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.services__item:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  overflow: hidden;
}

.service:hover .service__text {
  max-height: 100%;
}

.service__title {
  margin-bottom: 25px;
  font-size: 22px;
}

.service__text {
  max-height: 0%;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

.service__desc {
  margin-bottom: 25px;
  line-height: 33px;
}

.service__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__button {
  width: 100%;
  max-width: 335px;
}

.apartments-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.apartments-filter__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 2px solid #f6f6f6;
  border-right-width: 0;
}

.apartments-filter__item:last-child {
  border-right-width: 2px;
}

.apartments-filter__button {
  width: 100%;
  padding: 20px;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
}

.apartments-filter__button:hover {
  background-color: #f6f6f6;
}

.apartments-filter__button--active {
  color: #ffffff;
  background-color: #2a94e2;
}

.apartments-filter__button--active:hover {
  background-color: #1d87d5;
}

.apartments__inner {
  padding: 30px 0 60px;
}

.apartments__title {
  margin-bottom: 25px;
}

.apartments__subtitle {
  display: block;
  margin-bottom: 45px;
}

.apartments__filter {
  margin-bottom: 30px;
}

.apartments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.apartments__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (15px * 2));
      flex-basis: calc((100% / 12 * 6) - (15px * 2));
  max-width: calc((100% / 12 * 6) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
}

.apartments-item {
  -webkit-transition: -webkit-box-shadow 0.3s ease-in;
  transition: -webkit-box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
}

.apartments-item:hover {
  -webkit-box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
          box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
}

.apartments-item__text {
  padding: 25px 30px;
}

.apartments-item__title {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 22px;
}

.apartments-item__subtitle {
  display: block;
  margin-bottom: 20px;
}

.apartments-item__specs {
  width: 100%;
}

.apartments-item__price {
  font-size: 33px;
}

.apartments-item__button {
  width: 100%;
  padding: 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  background-color: #f6f6f6;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.apartments-item__button:hover {
  color: #ffffff;
  background-color: #2a94e2;
}

.about {
  background-color: #f6f6f6;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  padding: 65px 0 65px;
}

.about__col {
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (15px * 2));
      flex-basis: calc((100% / 12 * 6) - (15px * 2));
  max-width: calc((100% / 12 * 6) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
}

.about__title {
  margin: 30px 0 20px;
  text-align: left;
  letter-spacing: 0;
  line-height: 45px;
}

.about__desc {
  margin-bottom: 30px;
  line-height: 26px;
}

.about__desc p:not(:last-child) {
  margin-bottom: 15px;
}

.about__button {
  padding: 14px 0 19px;
  font-size: 20px;
  font-weight: normal;
}

.about__images {
  position: relative;
  margin-bottom: 10px;
}

.about__image {
  width: 100%;
}

.about__thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.about__thumb {
  margin: 0 5px;
}

.agency__inner {
  padding: 50px 0;
}

.agency__title {
  margin-bottom: 45px;
}

.agency__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.agency__item {
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (15px * 2));
      flex-basis: calc((100% / 12 * 6) - (15px * 2));
  max-width: calc((100% / 12 * 6) - (15px * 2));
  margin-right: 15px;
  margin-left: 15px;
}

.agency__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agency__col {
  width: 33.3333%;
}

.agency__link {
  display: block;
  color: #2a94e2;
  font-size: 22px;
  line-height: 50px;
}

.agency-item {
  position: relative;
  height: 100%;
  padding: 30px 50px 25px;
  background-image: url("../icons/card-decal.svg");
  background-repeat: no-repeat;
  background-position: left top 10px;
  border: 1px solid #2a94e2;
  border-radius: 10px;
}

.agency-item::before {
  content: '';
  position: absolute;
  top: 105px;
  right: 50px;
  width: 150px;
  height: 150px;
  background-image: url("../icons/directions.svg");
  background-repeat: no-repeat;
}

.agency-item__title {
  margin-bottom: 70px;
  font-size: 22px;
  font-weight: 900;
}

.agency-item__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.agency-item__leader {
  display: block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.agency-item__leader-name {
  display: block;
  margin-bottom: 25px;
}

.agency-item__phone, .agency-item__email {
  display: block;
  color: #000000;
}

.agency-item__phone {
  margin-bottom: 15px;
  font-size: 25px;
  text-decoration: none;
}

.agency-item--building-rent::before {
  background-position: 0 0;
}

.agency-item--commerce-rent::before {
  background-position: -245px 0;
}

.agency-item--deraptment::before {
  background-position: -478px 0;
}

.agency-item--new-building::before {
  background-position: -720px 0;
}

.agency-item--second-building::before {
  background-position: -950px -10px;
}

.agency-item--commerce-sell::before {
  background-position: -1190px 0;
}

.agency-item--investments::before {
  top: 65px;
  right: 55px;
  background-position: -1405px 0;
}

.agency-item--abroad-estate::before {
  top: 80px;
  background-position: -1640px 0;
}

.leader {
  background-color: #EEF3FA;
  background-image: url("../image/leader/leader.png");
  background-repeat: no-repeat;
  background-position: bottom right 380px;
}

.leader__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 60px;
}

.leader__main {
  -ms-flex-preferred-size: calc((100% / 12 * 7) - (0px * 2));
      flex-basis: calc((100% / 12 * 7) - (0px * 2));
  max-width: calc((100% / 12 * 7) - (0px * 2));
  margin-right: 0px;
  margin-left: 0px;
}

.leader__title {
  margin-bottom: 25px;
  line-height: 48px;
  text-align: left;
}

.leader__name {
  display: block;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.leader__desc {
  margin-bottom: 35px;
  line-height: 1.6;
}

.leader__desc p:not(:last-child) {
  margin-bottom: 20px;
}

.leader__button {
  font-size: 20px;
}

.main-footer {
  color: #ffffff;
  background-color: #535860;
}

.main-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.main-footer__col {
  width: 33.3333%;
}

.main-footer__text {
  display: block;
  font-size: 13px;
  line-height: 25px;
}

.main-footer__text:not(:last-child) {
  margin-bottom: 20px;
}

.main-footer__text:nth-child(2) {
  font-size: 16px;
}

.main-footer__text-line {
  display: inline-block;
}

.main-footer__text-line:first-child {
  margin-right: 35px;
}

.main-footer__logo {
  padding-top: 25px;
  padding-left: 5px;
}

.main-footer__call {
  color: #ffffff;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */