:root {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, form {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page {
  width: 100%;
  font-family: 'Geometria', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

.all-wrapper {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.woff2") format("woff2"), url("../fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.button {
  min-width: 270px;
  padding: 14px 0 15px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  background-color: #2a94e2;
  border: 1px solid #2a94e2;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.button:hover {
  color: #000000;
  background-color: transparent;
}

.button--transparent {
  color: #000000;
  background-color: transparent;
}

.button--transparent:hover {
  color: #ffffff;
  background-color: #2a94e2;
}

.button--wide {
  min-width: 360px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  min-width: 141px;
  height: 110px;
  margin-right: 30px;
  background-image: url("../image/hero/logo.svg");
}

.call {
  display: inline-block;
}

.call__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
}

.call__link {
  text-decoration: none;
  color: #000000;
}

.features {
  margin-bottom: 50px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.features__item:not(:last-child) {
  margin-right: 50px;
}

.features__num {
  font-size: 80px;
}

.hero {
  position: relative;
  padding: 30px 0;
}

.hero__background {
  background-image: url("../image/hero/hero-background.jpg");
  background-size: cover;
}

.hero__title {
  max-width: 700px;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__col {
  width: 33.3333%;
}

.main-header__call {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */